@import url("style/header.css");

*{/*seletor universal para resetar as bordas da página*/
    padding: 0px;
    margin: 0px;
}

:root{ /*seletor raiz para variáveis*/
    --cor-de-fundo: rgb(209, 0, 209);
    --cor-da-letra: black;
}

body{/*seletor body*/
    background-color: var(--cor-de-fundo);
}